.title {
    margin-top: 50px;
    text-align: center;
    font-size: 55px;
    line-height: 100%;
    font-weight: 900;
    text-transform: uppercase;
}

.btnClose {
    position: fixed;
    right: 35px;
    top: 25px;
    cursor: pointer;
}

.button {
    /*margin-top: 24px;*/
}

.icon {
    display: flex;
    justify-content: center;
    margin: 30px 20px;

}
.line{
    width:80%;
    border: 1px solid #7B7B7B;
    background-color: #7B7B7B;

}
.line_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 100px;
}

@media screen and (max-width: 1200px){
    .line_icon{
        padding: 0 50px;
    }
}

@media screen and (max-width: 910px) {
    .line_icon{
        padding: 0 15px;
    }
    .btnClose {
        right: 50px;
    }
}
@media screen and (max-width: 576px) {
    .title {
        padding-top: 20px;
        margin-top: 0;
        text-align: center;
        font-size: 32px;
        line-height: 100%;
        font-weight: 900;
        text-transform: uppercase;
    }
    .btnClose {
        position: fixed;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }



}