.card_info{
    border: 1px solid #7B7B7B;
    margin-bottom: 50px;
}
.card_list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:20px;
    justify-items: center;
    padding: 25px 0;
}

.card_item {
    overflow: initial;
}

.skills_icon{
    width: 50%;
    height: 100%;
    padding: 10px 20px;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border:1px solid #7B7B7B;
    color: #FFFFFF;
}
.skills_icon h3{
    margin-top: 10px;
}

.title_card_info{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;

    height: 70px;
    border-bottom:1px solid #7B7B7B;
}

.bloc_description{
    padding: 25px;
}
.bloc_description_line:after{
    content: '';
    display: block;
    height: 1px;
    margin: 25px 0;
    border-bottom: 2px solid #c4e300;
}
.bloc_description_line:last-child:after{
    content: none;
}



.description_exp_edu{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.data_info{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: #EEEEEE;
    margin-left: -13px;
    padding: 15px 0;
}
.description_info{
    font-size: 16px;
    line-height: 160%;
    letter-spacing: 0.02em;
    color: #EEEEEE;

}